:host ::ng-deep .p-chip.CRIMSONRED {
	background: #BE0039;
	color: white;
}
:host ::ng-deep .p-chip.FIRERED {
	background: #FF4500;
	color: white;
}
:host ::ng-deep .p-chip.CANNARYYELLOW {
	background: #FFA800;
	color: white;
}
:host ::ng-deep .p-chip.BUTTERYELLOW {
	background: #FFD635;
	color: white;
}
:host ::ng-deep .p-chip.BASILGREEN {
	background: #00A368;
	color: white;
}
:host ::ng-deep .p-chip.FERNGREEN {
	background: #00CC78;
	color: white;
}
:host ::ng-deep .p-chip.LIMEGREEN {
	background: #7EED56;
	color: white;
}
:host ::ng-deep .p-chip.OCEANBLUE {
	background: #00756F;
	color: white;
}
:host ::ng-deep .p-chip.TEALBLUE {
	background: #009EAA;
	color: white;
}
:host ::ng-deep .p-chip.BLUE {
	background: #2450A4;
	color: white;
}
:host ::ng-deep .p-chip.CERULEANBLUE {
	background: #3690EA;
	color: white;
}
:host ::ng-deep .p-chip.ARCTICBLUE {
	background: #51E9F4;
	color: white;
}
:host ::ng-deep .p-chip.INDIGOBLUE {
	background: #493AC1;
	color: white;
}
:host ::ng-deep .p-chip.BLUEBERRYPURPLE {
	background: #6A5CFF;
	color: white;
}
:host ::ng-deep .p-chip.VIOLETPURPLE {
	background: #811E9F;
	color: white;
}
:host ::ng-deep .p-chip.PURPLE {
	background: #B44AC0;
	color: white;
}
:host ::ng-deep .p-chip.FUSIAPINK {
	background: #FF3881;
	color: white;
}
:host ::ng-deep .p-chip.FLAMINGOPINK {
	background: #FF99AA;
	color: white;
}
:host ::ng-deep .p-chip{
	padding-left: 13pt;
	padding-right: 5pt;
	margin-right: 5pt;
}