<!-- 
<p-dialog header="New Project Diagram" 
[(visible)]="_newDiagramDialog_isVisible"
>
	<span class="p-float-label">
		<input id="float-input" type="text" pInputText [(ngModel)]="input_diagramName"> 
		<label for="float-input">Diagram name</label>
	</span>
</p-dialog> -->


<p-menubar [model]="_menuItems">
	<ng-template pTemplate="start">
		<span class="text-xl pr-2 pl-2" id="CoUML_app">CoUML</span>
	</ng-template>

	<ng-template pTemplate="end">
		<app-team-activity></app-team-activity>
	</ng-template>

</p-menubar>

