#graphContainer {
	background-size: 10px 10pt;
	height: inherit;
	width: inherit;
	background-image:
		linear-gradient(to right,#eef1f6 1px, transparent 1px),
		linear-gradient(to bottom,#eef1f6 1px, transparent 1px);
}
#toolbarContainer{
	background-color: #eef1f6;
}
